<ion-tabs>
  <ion-tab-bar slot="bottom" style="height: 48px; min-height: 48px;">
    
    <!-- Tab de Dashboard -->
    <ion-tab-button tab="dashboard" href="/entrenador-tabs/dashboard">
      <ion-icon name="stats-chart-outline"></ion-icon>
    </ion-tab-button>

    <!-- Tab de Agenda -->
    <ion-tab-button tab="agenda" href="/entrenador-tabs/agenda">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>

    <!-- Tab de Entrenados -->
    <ion-tab-button tab="entrenados" href="/entrenador-tabs/entrenados">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>

    <!-- Tab de Rutinas -->
    <ion-tab-button tab="rutinas" href="/entrenador-tabs/rutinas">
      <ion-icon name="fitness-outline"></ion-icon>
    </ion-tab-button>

    <!-- Tab de Ejercicios -->
    <ion-tab-button tab="ejercicios" href="/entrenador-tabs/ejercicios">
      <ion-icon name="barbell-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
