<ion-modal [isOpen]="isOpen" (didDismiss)="closeModal()">
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="closeModal()" color="medium">
            <ion-icon name="close" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>
          {{ isEditing ? 'Editar Convocatoria' : 'Publicar Convocatoria' }}
        </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="guardar()" [disabled]="form.invalid" color="primary">
            <ion-icon name="save-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="full" class="ion-no-padding">

        <form [formGroup]="form">

          <ion-item>
            <ion-label position="stacked" color="medium">¿Qué día entrenas?</ion-label>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button expand="block" type="button" (click)="seleccionarDia('hoy')"
                    [fill]="diaSeleccionado === 'hoy' ? 'solid' : 'outline'">
                    Hoy
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button expand="block" type="button" (click)="seleccionarDia('manana')"
                    [fill]="diaSeleccionado === 'manana' ? 'solid' : 'outline'">
                    Mañana
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-label position="stacked" color="medium">O selecciona otra fecha</ion-label>
            <ion-input type="date" formControlName="fechaCustom" (change)="onFechaCustomChange()"></ion-input>
          </ion-item>

          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked" color="medium">Hora Inicio</ion-label>
                  <ion-input type="time" formControlName="horaInicio"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked" color="medium">Hora Fin</ion-label>
                  <ion-input type="time" formControlName="horaFin"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-item>
            <ion-label position="stacked" color="medium">Mensaje / ¿Qué entrenas?</ion-label>
            <ion-textarea formControlName="mensaje" rows="3"
              placeholder="Ej: Rutina de pecho y bíceps. ¿Quién se suma a tirar pesado?"></ion-textarea>
          </ion-item>

        </form>

      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>