@if (user) {

<!-- Glass Card: Información -->
<ion-card>
  <ion-card-header>
    <ion-card-title class="text-center font-bold py-2">
      Detalles Personales
    </ion-card-title>
  </ion-card-header>

  <ion-list class="bg-transparent" lines="full">
    <!-- Rol -->
    <ion-item color="none">
      <span slot="start" class="material-symbols-rounded text-primary !text-3xl">badge</span>
      <ion-label slot="end" class="text-right">
        <h3 class="!font-bold !m-0 !text-base !leading-tight">{{ user.role === 'entrenador' ?
          'Entrenador' : 'Entrenado' }}</h3>
        <p class="!text-[11px] !m-0 !uppercase !tracking-wider !font-medium">Rol</p>
      </ion-label>
    </ion-item>
    <!-- Plan Actual -->
    <ion-item color="none">
      <span slot="start" class="material-symbols-rounded text-primary !text-3xl">workspace_premium</span>
      <ion-label slot="end" class="text-right">
        <h3 class="!font-bold !m-0 !text-base !leading-tight">{{ user.plan || 'Free' }}</h3>
        <p class="!text-[11px] !m-0 !uppercase !tracking-wider !font-medium">Plan Actual</p>
      </ion-label>
    </ion-item>

    @if (user.gimnasioId) {
    <ion-item color="none">
      <span slot="start" class="material-symbols-rounded text-primary !text-3xl">fitness_center</span>
      <ion-label slot="end" class="text-right">
        <h3 class="!font-bold !m-0 !text-base !leading-tight">{{ user.gimnasioId }}</h3>
        <p class="!text-[11px] !m-0 !uppercase !tracking-wider !font-medium">Centro</p>
      </ion-label>
    </ion-item>
    }

    @if (user.role === 'entrenado') {
    <ion-item class="bg-transparent" color="none">
      <span slot="start" class="material-symbols-rounded text-primary !text-3xl">target</span>
      <ion-label slot="end" class="text-right">
        <h3 class="!font-bold !m-0 !text-base !leading-tight">{{ entrenadoData?.objetivo || 'Sin definir' }}
        </h3>
        <p class="!text-[11px] !m-0 !uppercase !tracking-wider !font-medium">Objetivo</p>
      </ion-label>
    </ion-item>
    <ion-item class="bg-transparent" color="none">
      <span slot="start" class="material-symbols-rounded text-primary !text-3xl">leaderboard</span>
      <ion-label slot="end" class="text-right">
        <h3 class="!font-bold !m-0 !text-base !leading-tight">{{ entrenadoData?.nivel || 'Sin definir' }}
        </h3>
        <p class="!text-[11px] !m-0 !uppercase !tracking-wider !font-medium">Nivel</p>
      </ion-label>
    </ion-item>
    }
  </ion-list>


</ion-card>



<div class="flex justify-center ion-padding-top ion-padding-bottom">
  @if (!user.plan || user.plan === 'free') {
  @if (ultimasolicitud?.estado === 'pendiente') {
  <ion-button fill="clear" color="warning" disabled size="small">Pendiente</ion-button>
  } @else if (ultimasolicitud?.estado === 'rechazada') {
  <ion-button fill="outline" color="danger" size="small" (click)="openPremiumModal()">Reintentar</ion-button>
  } @else {
  <ion-button color="primary" class="font-bold tracking-wide" size="small" (click)="openPremiumModal()" fill="solid">
    <ion-icon name="trophy-outline" slot="start"></ion-icon>
    Mejorar Plan
  </ion-button>
  }
  } @else {
  <ion-button fill="solid" color="success" disabled size="small">Activo</ion-button>
  }
</div>

}