<ion-card>
    <ion-card-header>
        <ion-card-title>Mis Rutinas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            @for (rutina of rutinas(); track rutina.id) {
            <ion-item button (click)="verRutina.emit(rutina)">
                <ion-label>
                    <h3>{{ rutina.nombre }}</h3>
                    <p>Duración: {{ rutina.duracion }} min</p>
                </ion-label>
                <ion-button fill="clear" slot="end" color="primary"
                    (click)="verRutina.emit(rutina); $event.stopPropagation()">
                    <ion-icon name="pencil"></ion-icon>
                </ion-button>
                <ion-button fill="clear" slot="end" color="danger"
                    (click)="deleteRutina.emit(rutina.id); $event.stopPropagation()">
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
            </ion-item>
            }
        </ion-list>
    </ion-card-content>
</ion-card>