<app-header-tabs></app-header-tabs>

<ion-content [fullscreen]="true">
  <!-- Background Image Layer (Fixed) -->
  @if (isPremium()) {
  <div class="fixed inset-0 z-0 opacity-25 dark:opacity-100 pointer-events-none">
    <img ngSrc="assets/images/trainer-bg.png" priority fill alt="background"
      class="object-cover filter dark:brightness-[0.4] dark:contrast-125">
  </div>
  }

  <div class="main-container ion-padding relative z-10">
    <div
      class="dashboard-main-card !m-0 !rounded-[2rem] overflow-hidden shadow-xl dark:shadow-2xl bg-white/40 dark:bg-black/40 backdrop-blur-xl border border-white/20 dark:border-white/10 px-4 py-6 min-h-[80vh]">
      <div class="container">
        <!-- Acciones y Límite de Plan -->
        <app-acciones-rutina [hasReachedLimit]="hasReachedRutinaLimit()" [limitMessage]="rutinaLimitMessage()"
          (crearRutina)="crearRutina()">
        </app-acciones-rutina>

        <!-- Lista de Rutinas -->
        <app-lista-rutinas [rutinas]="rutinasCreadas()" (verRutina)="verRutina($event)"
          (deleteRutina)="deleteRutina($event)">
        </app-lista-rutinas>
      </div>
    </div>
  </div>

  <!-- Modal para crear/editar rutina -->
  <app-rutina-modal [isOpen]="isRutinaModalOpen()" [isCreating]="isRutinaCreating()" [rutinaData]="rutinaSeleccionada()"
    [ejercicios]="ejerciciosCreados()" (close)="closeRutinaModal()" (save)="saveRutinaChanges($event)">
  </app-rutina-modal>
</ion-content>