<app-header-entrenador></app-header-entrenador>

<ion-content [fullscreen]="true">
  <div class="container">
    <!-- Lista de Rutinas -->
    <app-lista-rutinas [rutinas]="rutinasCreadas()" (verRutina)="verRutina($event)"
      (deleteRutina)="deleteRutina($event)">
    </app-lista-rutinas>

    <!-- Acciones y Límite de Plan -->
    <app-acciones-rutina [hasReachedLimit]="hasReachedRutinaLimit()" [limitMessage]="rutinaLimitMessage()"
      (crearRutina)="crearRutina()">
    </app-acciones-rutina>
  </div>

  <!-- Modal para crear/editar rutina -->
  <app-rutina-modal [isOpen]="isRutinaModalOpen()" [isCreating]="isRutinaCreating()" [rutinaData]="rutinaSeleccionada()"
    [ejercicios]="ejerciciosCreados()" (close)="closeRutinaModal()" (save)="saveRutinaChanges($event)">
  </app-rutina-modal>
</ion-content>