<ion-item lines="none" class="ion-no-padding">
    <ion-avatar slot="start">
        @if (user().photoURL) {
        <img [ngSrc]="user().photoURL!" width="64" height="64" alt="Foto de perfil" />
        } @else {
        <div class="initials-container">
            {{ initials() }}
        </div>
        }
    </ion-avatar>
    <ion-label>
        <h2>{{ user().nombre || '' }}</h2>

    </ion-label>
    <ion-button slot="end" color="primary" (click)="editClick.emit()">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
    </ion-button>
</ion-item>