<ion-modal [isOpen]="isOpen" (didDismiss)="cerrarModal()">
    <ng-template>

        @if (rutina) {
        <ion-header class="p-2">
            <ion-toolbar>
                <ion-title>
                    <h2><strong>{{ rutina.nombre }}</strong></h2>
                </ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="cerrarModal()" color="medium" shape="round">
                        <ion-icon name="close-outline" size="large"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-card class="my-2">
                <ion-card-content>
                    <p style="margin-top: 8px;">
                        {{ rutina.descripcion || '"Disfruta de tu entrenamiento. Sigue las instrucciones y mantén la
                        consistencia para lograr tus objetivos."' }}
                    </p>
                </ion-card-content>
            </ion-card>

            <ion-card class="my-2">
                <ion-card-content>
                    <ion-grid>
                        <ion-row class="ion-align-items-start">
                            <ion-col class="ion-text-center">
                                <ion-icon name="fitness-outline" color="primary"
                                    style="font-size: 32px; margin-bottom: 4px;"></ion-icon>
                                <div><ion-note color="medium"><strong>EJERCICIOS</strong></ion-note></div>
                                <h2><strong>{{ rutina.ejerciciosIds?.length || 0 }}</strong></h2>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-icon name="time-outline" color="warning"
                                    style="font-size: 32px; margin-bottom: 4px;"></ion-icon>
                                <div><ion-note color="medium"><strong>DURACIÓN EST.</strong></ion-note></div>
                                <h2><strong>{{ rutina.duracion || 45 }} <span
                                            style="font-size: 14px;">min</span></strong></h2>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>

            <ion-card class="my-2">
                <ion-card-header class="p-2">
                    <ion-card-title class="ion-text-center">
                        <h2><strong>Ejercicios</strong></h2>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-list lines="full">
                        @for (ej of ejercicios; track ej.id) {
                        <ion-item>
                            <ion-label>
                                <h2 style="white-space: normal;"><strong>{{ ej.nombre }}</strong></h2>

                            </ion-label>
                            <ion-note>
                                <p style="display: flex; align-items: center; gap: 4px; margin-top: 4px;">
                                    {{ ej.series }} series x {{ ej.repeticiones }} reps
                                </p>
                            </ion-note>
                        </ion-item>
                        }
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-content>

        <ion-footer>
            <ion-toolbar>
                @if (!esFuturo) {
                <ion-button expand="block" color="secondary" class="ion-margin" (click)="iniciar()">
                    <strong>COMENZAR AHORA</strong>
                    <ion-icon name="play-circle" slot="end"></ion-icon>
                </ion-button>
                } @else {
                <ion-button expand="block" class="ion-margin" color="medium" disabled="true">
                    <strong>AÚN NO DISPONIBLE</strong>
                    <ion-icon name="lock-closed" slot="end"></ion-icon>
                </ion-button>
                }
            </ion-toolbar>
        </ion-footer>
        }
    </ng-template>
</ion-modal>