<ion-content [fullscreen]="true">
  
  <app-background />

  <!-- Acciones -->
  <app-acciones-ejercicio 
    [hasReachedLimit]="hasReachedEjercicioLimit()" 
    [limitMessage]="ejercicioLimitMessage()"
    (crearEjercicio)="crearEjercicio()">
  </app-acciones-ejercicio>

  <app-ejercicios-list 
    [ejercicios]="ejerciciosCreados()"
    (ver)="verEjercicio($event)"
    (eliminar)="deleteEjercicio($event)">
  </app-ejercicios-list>
  
  <!-- Modal para crear/editar ejercicio -->
  <app-ejercicio-modal
    [isOpen]="isEjercicioModalOpen()"
    [ejercicio]="ejercicioModalData()"
    [isCreating]="isEjercicioCreating()"
    [isFreePlan]="isFreePlan()"
    (close)="closeEjercicioModal()"
    (save)="saveEjercicioChanges($event)">
  </app-ejercicio-modal>
</ion-content>