@if (invitaciones && invitaciones.length > 0) {
<ion-list lines="full">
  @for (invitacion of invitaciones; track invitacion.id) {
  <ion-item-sliding>

    <ion-item >
      <ion-avatar slot="start" >
        <img src="assets/images/test-foto.png" alt="Entrenador">
      </ion-avatar>
      <ion-label class="ion-text-wrap p-2">
        <h3>{{ invitacion.remitenteNombre || invitacion.entrenadorNombre || 'Entrenador' }}</h3>
      </ion-label>
      <ion-note slot="end"> {{ invitacion.mensajePersonalizado || 'Te ha enviado una invitación para entrenar.' }}</ion-note>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="rechazar.emit(invitacion)">
        <ion-icon name="close-circle-outline" slot="icon-only"></ion-icon>
      </ion-item-option>
      <ion-item-option color="success" (click)="aceptar.emit(invitacion)">
        <ion-icon name="checkmark-circle" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  }
</ion-list>
} @else {
<ion-card>
  <ion-card-content>
    <ion-label>No tienes invitaciones pendientes.</ion-label>
  </ion-card-content>
</ion-card>
}