<ion-tabs>
  <ion-tab-bar slot="bottom" style="height: 48px; min-height: 48px;">
    <ion-tab-button tab="dashboard" href="/gimnasio-tabs/dashboard">
      <span class="material-symbols-outlined" style="font-size: 28px;">bar_chart</span>
    </ion-tab-button>

    <ion-tab-button tab="entrenadores" href="/gimnasio-tabs/entrenadores">
      <span class="material-symbols-outlined" style="font-size: 28px;">timer</span>
    </ion-tab-button>

    <ion-tab-button tab="entrenados" href="/gimnasio-tabs/entrenados">
      <span class="material-symbols-outlined" style="font-size: 28px;">fitness_center</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
