
:root{



/* ============================================================================
 * 1) Light Theme Brand
      - Generamos la paleta de colores light base de la marca
 * ============================================================================ */
--brand-primary-color: #d6fe51; /*#D2F801*/
/* --brand-primary-shade: #6ca208;
--brand-primary-tint: #96cf2a; */
--brand-secondary-color: #e45328;
/* --brand-tertiary-color: #50e3c2; */
/* --brand-success-color: #2dd36f;
--brand-warning-color: #fecc28;
--brand-danger-color: #eb445a; */
--brand-light-color: #f4f5f8;
--brand-medium-color: #646464;
--brand-dark-color: #161616;






/* ============================================================================
 * 2) Light Theme Ionic
   - Ionic https: //ionicframework.com/docs/theming/color-generator
   - Definimos las variables de Ionic usando los colores de la marca.
 * ============================================================================ */

  /* 2.a) - Ionic Color Variables */
  --ion-color-primary: var(--brand-primary-color);
  --ion-color-primary-rgb: 126, 188, 8;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: var(--brand-primary-shade);
  --ion-color-primary-tint: var(--brand-primary-tint);

  --ion-color-secondary: var(--brand-secondary-color);
  --ion-color-tertiary: var(--brand-tertiary-color);
  --ion-color-success: var(--brand-success-color);
  --ion-color-warning: var(--brand-warning-color);
  --ion-color-danger: var(--brand-danger-color);
  --ion-color-light: var(--brand-light-color);
  --ion-color-medium: var(--brand-medium-color);
  --ion-color-dark: var(--brand-dark-color);


  /* 2.b) - Ionic Global Variables - solo se definen una vez porque en dark no es necesario cambiarlo */
  --ion-font-family: 'Manrope', 'Helvetica Neue', sans-serif;
  --ion-padding: 16px;
    /* ⚠️ Revisar estas variables https: //ionicframework.com/docs/theming/advanced */
    /* --ion-statusbar-padding: 50px;
    --ion-safe-area-top: 50px;
    --ion-safe-area-bottom: 0px;
    --ion-safe-area-left: 0px;
    --ion-safe-area-right: 0px; */

    /* https: //ionicframework.com/docs/theming/themes#application-colors */
    /* --ion-background-color: blue;
    --ion-text-color: yellow; */
    /* --ion-backdrop-color: red; */
    /* --ion-backdrop-opacity: green; */
    /* --ion-overlay-background-color: blue; ETC */



    /* Variables de componentes propios */
    --color-title: var(--brand-dark-color);
    --color-text: var(--brand-medium-color);
}





.dark {
  /* ============================================================================
   * 3) - Dark Theme - Brand
    - Generamos la paleta de colores dark base de la marca
   * ============================================================================ */
  --brand-primary-color: #d6fe51;
  /* --brand-primary-shade: #94c30d;
  --brand-primary-tint: #cbf53c; */
  --brand-secondary-color: #e45328;
  /* --brand-tertiary-color: #61f2d0;
  --brand-success-color: #00ff9d;
  --brand-warning-color: #ffd860;
  --brand-danger-color: #ff5a5f; */
  --brand-light-color: #f9f9f9;
  --brand-medium-color: #646464;
  --brand-dark-color: #161616;


  /* ============================================================================
   * 4) - Dark Theme - Ionic
    - Definimos las variables de Ionic usando los colores de la marca.
   * ============================================================================ */
  --ion-color-primary: var(--brand-primary-color);
  --ion-color-primary-rgb: 126, 188, 8;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: var(--brand-primary-shade);
  --ion-color-primary-tint: var(--brand-primary-tint);

  --ion-color-secondary: var(--brand-secondary-color);
  --ion-color-tertiary: var(--brand-tertiary-color);
  --ion-color-success: var(--brand-success-color);
  --ion-color-warning: var(--brand-warning-color);
  --ion-color-danger: var(--brand-danger-color);
  --ion-color-light: var(--brand-light-color);
  --ion-color-medium: var(--brand-medium-color);
  --ion-color-dark: var(--brand-dark-color);



  /* Variables de componentes propios */
  --color-title: var(--brand-light-color);
  --color-text: var(--brand-medium-color);

}



/* Clases componentes */

.gym-title-color{
  color: var(--color-title);
}

.gym-text-color{
  color: var(--color-text)
}





