<app-header-tabs></app-header-tabs>

<ion-content [fullscreen]="true">
  <!-- Background Image Layer (Fixed) -->
  @if (isPremium()) {
  <div class="fixed inset-0 z-0 opacity-25 dark:opacity-100 pointer-events-none">
    <img ngSrc="assets/images/test-gym-1.jpg" priority fill alt="background"
      class="object-cover filter dark:brightness-[0.4] dark:contrast-125">
  </div>
  }@else {
  <div
    class="bg-linear-to-br from-blue-900 via-green-700 to-blue-900 h-full w-full absolute inset-0 z-0 pointer-events-none">
  </div>
  }
  <!-- Main Content Layer -->
  <app-rutinas-semana [rutinasPorDia]="rutinasPorDia()" (verDetalles)="abrirDetalles($event)"
    (iniciarEntrenamientoDirecto)="iniciarEntrenamientoDirecto($event.event, $event.rutina)">
  </app-rutinas-semana>
  <!-- Modal Detalles Rutina -->
  <app-rutina-detalle-modal [isOpen]="modalAbierto()" [rutina]="rutinaSeleccionada()"
    [ejercicios]="ejerciciosCompletos()" [esFuturo]="esFuturoSeleccionado()" (didDismiss)="cerrarModal()"
    (iniciarEntrenamiento)="iniciarEntrenamiento($event)">
  </app-rutina-detalle-modal>

</ion-content>