<app-header-tabs></app-header-tabs>


<ion-content [fullscreen]="true">

  <div class="rutinas-container p-4 pb-20">
    <app-rutinas-semana [rutinasPorDia]="rutinasPorDia()" (verDetalles)="abrirDetalles($event)"
      (iniciarEntrenamientoDirecto)="iniciarEntrenamientoDirecto($event.event, $event.rutina)">
    </app-rutinas-semana>
  </div>

  <app-rutina-detalle-modal [isOpen]="modalAbierto()" [rutina]="rutinaSeleccionada()"
    [ejercicios]="ejerciciosCompletos()" [esFuturo]="esFuturoSeleccionado()" (didDismiss)="cerrarModal()"
    (iniciarEntrenamiento)="iniciarEntrenamiento($event)">
  </app-rutina-detalle-modal>

</ion-content>