<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/entrenado-tabs/dashboard" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center font-bold">Mis Rutinas</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="notifications-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="rutinas-container p-4 pb-20">
    <app-rutinas-semana [rutinasPorDia]="rutinasPorDia()" (verDetalles)="abrirDetalles($event)"
      (iniciarEntrenamientoDirecto)="iniciarEntrenamientoDirecto($event.event, $event.rutina)">
    </app-rutinas-semana>
  </div>

  <app-rutina-detalle-modal [isOpen]="modalAbierto()" [rutina]="rutinaSeleccionada()"
    [ejercicios]="ejerciciosCompletos()" [esFuturo]="esFuturoSeleccionado()" (didDismiss)="cerrarModal()"
    (iniciarEntrenamiento)="iniciarEntrenamiento($event)">
  </app-rutina-detalle-modal>

</ion-content>