<ion-header class="absolute top-0 z-50 w-full" style="background: transparent;">
  <ion-toolbar style="--background: transparent; --border-width: 0;">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToLogin()">
        <ion-icon name="arrow-back-outline" class="text-3xl"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-auth-background [showBlur]="true"></app-auth-background>

  <!-- content -->
  <div class="absolute bottom-0 left-0 right-0 w-full pb-8">
    <ion-card class="z-10 p-2 relative w-full" style="background: transparent; --box-shadow: none;">
      <ion-card-header class="px-0">
        <ion-card-title class="font-semibold font-heading text-4xl mb-4 text-center">
          Recuperar Contraseña
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class="px-0">
        <p class="mb-6 text-lg text-center opacity-80">
          Ingresa tu email y te enviaremos un enlace para restablecer tu contraseña.
        </p>

        <form [formGroup]="forgotForm">
          <!-- email -->
          <ion-input label="Email" label-placement="floating" type="email" formControlName="email"
            placeholder="Ingresa tu email" class="mb-6" [clearInput]="true" [errorText]="emailError">
          </ion-input>

          <ion-button expand="block" fill="solid" size="large" shape="round" color="primary" (click)="resetPassword()"
            [disabled]="isSubmitDisabled()" class="mb-4">
            Enviar Enlace
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>