<ion-card>
    <!-- @if (user().role === 'entrenado' && entrenado()) {
    <ion-grid class="ion-no-padding" style="margin-top: 16px;">
        <ion-row>
            <ion-col size="6">
                <ion-card class="ion-no-margin" style="margin-right: 4px;">
                    <ion-card-content class="ion-text-center">
                        <ion-icon name="flag-outline" color="primary" style="font-size: 1.5rem;"></ion-icon>
                        <div style="font-size: 0.75rem; text-transform: uppercase; font-weight: bold; margin-top: 4px;">
                            Objetivo</div>
                        <div style="font-weight: bold; font-size: 1rem;">{{ entrenado()!.objetivo || 'Sin definir' }}</div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="ion-no-margin" style="margin-left: 4px;">
                    <ion-card-content class="ion-text-center">
                        <ion-icon name="bar-chart-outline" color="primary" style="font-size: 1.5rem;"></ion-icon>
                        <div style="font-size: 0.75rem; text-transform: uppercase; font-weight: bold; margin-top: 4px;">
                            Nivel</div>
                        <div style="font-weight: bold; font-size: 1rem;">{{ entrenado()!.nivel || 'Sin definir' }}</div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    } -->
</ion-card>