<ion-card>
  <ion-grid class="p-2">
    <!-- Fila superior: Datos en columnas -->
    <ion-row class="p-2">
      <ion-col size="4" class="text-center p-2">
        <ion-card>
          <ion-card-header color="primary">Nivel</ion-card-header>
          <ion-card-content color="secondary">{{ nivel || 'No definido'
            }}</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="text-center p-2">
        <ion-card>
          <ion-card-header color="primary">Objetivo</ion-card-header>
          <ion-card-content color="secondary" [title]="objetivo">{{ objetivo
            || 'No definido' }}</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="text-center p-2">
        <ion-card>
          <ion-card-header color="primary">Frecuencia</ion-card-header>
          <ion-card-content color="secondary">{{ frecuencia || 'No definido' }} d/sem</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Fila inferioir: Avatar y texto principal -->
  @if(entrenadorAsignado) {
  <ion-card>
    <ion-item>
      <ion-avatar slot="start" class="m-2">
        <img [src]="photoURL || 'assets/images/avatar-placeholder.png'" alt="Avatar">
      </ion-avatar>
      <ion-label>
        <p>{{ entrenadorAsignado }}</p>
      </ion-label>
      <ion-label slot="end">Entrenador asignado</ion-label>
    </ion-item>
  </ion-card>
  }
</ion-card>