<ion-card>

  <ion-avatar slot="end">
    <img [src]="photoURL || 'assets/images/avatar-placeholder.png'" alt="Avatar">
  </ion-avatar>
  <ion-card-content class="ion-no-padding">
    <ion-list lines="none">

      <ion-list-header class="ion-padding-start">
        <ion-label >Plan Personalizado</ion-label>
      </ion-list-header>

      @if(entrenadorAsignado){
        <ion-item>
          <ion-label slot="start">Entrenador</ion-label>
          <ion-label slot="end">{{ entrenadorAsignado }}</ion-label>
        </ion-item>
      }
      
      <ion-item >
        <ion-label slot="start">Nivel </ion-label>
        <ion-label slot="end">{{ nivel || 'Nivel no definido' }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label slot="start">Objetivo</ion-label>
        <ion-label slot="end">{{ objetivo }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label slot="start">Frecuencia</ion-label>
        <ion-label slot="end">{{ frecuencia || 0 }} días/semana</ion-label>
      </ion-item>

    </ion-list>
  </ion-card-content>
</ion-card>