<app-header-tabs></app-header-tabs>


<ion-content [fullscreen]="true">
  @if (estadisticasGenerales(); as stats) {
  <div class="w-full p-4 mx-auto">

    <!-- Estadísticas Generales Premium -->
    <app-progreso-estadisticas [stats]="stats"></app-progreso-estadisticas>

    <!-- Historial de Sesiones -->
    <app-progreso-historial [sesiones]="historialSesiones()"
      (eliminar)="confirmarEliminacion($event)"></app-progreso-historial>

  </div>
  } @else {
  <div class="flex justify-center items-center">
    <ion-text color="medium">Cargando progreso...</ion-text>
  </div>
  }
</ion-content>