<ion-tabs class="gym-tab-entrenado">
  <ion-tab-bar slot="bottom" >

    <!-- Tab de Dashboard -->
    <ion-tab-button tab="dashboard" href="/entrenado-tabs/dashboard">
      <ion-icon name="home-outline" class="icon-default"></ion-icon>
      <ion-icon name="home" class="hidden icon-active"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <!-- Tab de Rutinas -->
    <ion-tab-button tab="rutinas" href="/entrenado-tabs/rutinas">
      <ion-icon name="calendar-outline" class="icon-default"></ion-icon>
      <ion-icon name="calendar" class="hidden icon-active"></ion-icon>
      <ion-label>Rutinas</ion-label>
    </ion-tab-button>

    <!-- Tab de Progreso -->
    <ion-tab-button tab="progreso" href="/entrenado-tabs/progreso">
      <ion-icon name="stats-chart-outline" class="icon-default"></ion-icon>
      <ion-icon name="stats-chart" class="hidden icon-active"></ion-icon>
      <ion-label>Progreso</ion-label>
    </ion-tab-button>

    <!-- Tab de Perfil -->
    <ion-tab-button tab="perfil" href="/entrenado-tabs/perfil">
      <ion-icon name="person-outline" class="icon-default"></ion-icon>
      <ion-icon name="person" class="hidden icon-active"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
