<ion-tabs class="entrenado-main-tabs">
  <ion-tab-bar slot="bottom" style="height: 48px; min-height: 48px;">

    <!-- Tab de Dashboard -->
    <ion-tab-button tab="dashboard" href="/entrenado-tabs/dashboard">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <!-- Tab de Rutinas -->
    <ion-tab-button tab="rutinas" href="/entrenado-tabs/rutinas">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>

    <!-- Tab de Social (Centro) -->
    <ion-tab-button tab="social" href="/entrenado-tabs/social">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>

    <!-- Tab de Creaciones (Acciones - Siempre visible) -->
    <ion-tab-button tab="creaciones" href="/entrenado-tabs/creaciones">
      <ion-icon name="add-circle-outline" style="font-size: 26px;"></ion-icon>
    </ion-tab-button>

    <!-- Tab de Perfil -->
    <ion-tab-button tab="perfil" href="/entrenado-tabs/perfil">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>