<ion-card>
  <ion-card-header class="p-4 text-center">
    <ion-card-title>
      Entrenadores
    </ion-card-title>
  </ion-card-header>

  <ion-card-content class="p-4 ion-no-padding">
    <ion-grid class="ion-no-padding">
      <ion-row class="gap-y-3">
        <!-- Total Entrenadores -->
        <ion-col size="6" class="">
          <ion-card>
            <ion-card-header class="p-2 flex items-center justify-center">
              <ion-text class="text-xl font-extrabold">{{ totalTrainers() }}</ion-text>
            </ion-card-header>
            <ion-card-content class="p-2 text-center">
              <ion-text class="text-[9px] uppercase tracking-wider">Total Registrados</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Entrenadores Activos -->
        <ion-col size="6" class="">
          <ion-card>
            <ion-card-header class="p-2 flex items-center justify-center">
              <ion-text class="text-xl font-extrabold">{{ activeTrainers() }}</ion-text>
            </ion-card-header>
            <ion-card-content class="p-2 text-center">
              <ion-text class="text-[9px] uppercase tracking-wider">Activos</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Promedio Clientes/Entrenador -->
        <ion-col size="6">
          <ion-card>
            <ion-card-header class="p-2 flex items-center justify-center">
              <ion-text class="text-xl font-extrabold">{{ avgTraineesPerTrainer() }}</ion-text>
            </ion-card-header>
            <ion-card-content class="p-2 text-center">
              <ion-text class="text-[9px]  uppercase tracking-wider">Clientes / Coach</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Rutinas Creadas -->
        <ion-col size="6">
          <ion-card>
            <ion-card-header class="p-2 flex items-center justify-center">
              <ion-text class="text-xl font-extrabold">{{ routinesCreatedByTrainers() }}</ion-text>
            </ion-card-header>
            <ion-card-content class="p-2 text-center">
              <ion-text class="text-[9px]  uppercase tracking-wider">Rutinas Creadas</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Invitaciones Pendientes -->
        @if(pendingInvitations() > 0) {
        <ion-col size="12" class="mt-2">
          <ion-card class="">
            <ion-card-header class="p-2 flex items-center justify-center">
              <ion-card-title class="ml-2 text-lg font-bold">Invitaciones Pendientes</ion-card-title>
            </ion-card-header>

            <ion-card-content class="p-2 flex items-center justify-between">
              <div class="flex items-center gap-x-2">
                <ion-text class="m-0">
                  <ion-text class="text-[9px] block">Esperando registro</ion-text>
                </ion-text>
                <ion-text slot="end" class="text-xl font-extrabold text-(--ion-color-danger) px-2">
                  {{ pendingInvitations() }}
                </ion-text>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        }

      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>